// Bootstrap imports
@import "../bootstrap/grid.scss";

.particlesWrapper {
    display: none;
}

// Only show the animation on medium screens and larger, to ensure text is always easy to read.
@include media-breakpoint-up(sm) {
    .particlesWrapper {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
