@import "../variables";

.post-link-date {
    font-size: 0.75rem;
    margin-bottom: 0.1em;
}

.post-link-title {
    a {
        font-weight: 700;
    }

    margin-bottom: 0.1em;
}

.post-link-author {
    font-size: 0.75rem;
}

hr {
    color: $accent;
}