.vscode
app/pythonScripts/__pycache__


.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/modules.xml
.idea/cyberSocWebsite.iml
app/public/fonts/Astoria-RomanItalic.ttf
app/public/fonts/AstoriaBoldItalic.ttf

app/public/fonts/zAstoriaBold.ttf
app/public/fonts/AstoriaMediumItalic.ttf
app/public/fonts/AstoriaMedium.ttf
app/public/fonts/AstoriaLightItalic.ttf
app/public/fonts/AstoriaLight.ttf
app/public/fonts/AstoriaExtraBoldItalic.ttf
app/public/fonts/AstoriaExtraBold.ttf
app/public/fonts/AstoriaExtraLightItalic.ttf
app/public/fonts/AstoriaEXTRALIGHT.ttf
