extends layout

block content
 
    // Page Content
    .container
      // Page Heading/Breadcrumbs
      h1.mt-4.mb-3
        | No current CTF
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active CTF
    
    // /.container
      // /.container

