doctype html
html
  head
    link(rel="icon" href="/images/logo.ico")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title CyberSoc

    // Custom styles for this template

    link(href='stylesheets/modern-business.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src = '/javascripts/particles.js')
    script(src='/javascripts/loadParticles.js' defer="defer")

    
    
    style(type="text/css").
      .special-body {
      background-color: #343c41;
      }

      .logo{

        border:0;
        vertical-algin : middle;
        box-sizing: border-box;
        height: 75px;
        width: 75px;
      }
      * {
      color:  #fff;
      }
    


    body
      block content


