// Bootstrap imports
@import "../bootstrap/grid.scss";

// Custom imports
@import "../variables";
@import "../typography";

// Ensure footer always stays at bottom of screen if page content doesn't push it down.
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

// Styling for post title, date and content
.post-title {
    margin-bottom: 0.5rem;
}

.post-detail {
    font-size: 0.8rem;
    font-weight: 300;
}

.post-date {
    color: $accent;
    text-transform: uppercase;
}

.post-content {
    text-align: justify;
    text-align-last: left;
}

img {
    max-width: 100%;
}