// Font imports
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap');

html {
    font-size: 20px;
}

body {
    background-color: $primary;
    color: $white;
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 700;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

p {
    line-height: 1.3em;
}

a {
    color: $white;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: $accent;
}

.bold {
    font-weight: 700;
}