// Colours
$primary: #1d1d1d; // #1d1d1d
$secondary: #2d2d2d;
$light: #c3c3c3;
$white: #ffffff;
$blurple: #7289da;

// Shadows
$material-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
0 3px 6px rgba(0, 0, 0, 0.23);