// Bootstrap imports
@import "bootstrap/grid.scss";



// Custom imports
@import "variables";
@import "typography";

/* ========================
   BASIC SETUP & TYPOGRAPHY
   ======================== */
html {
	font-size: 20px;
}

body {
	background-color: $primary;
	color: $white;
	font-family: "Cabin", Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin: 0;
}

// TODO: Theme scrollbar!

/* ======
   HEADER
   ====== */

header {
	margin: 3em 0;

	.header-about {
		display: flex;
		flex-direction: column;
	}

	.btn-join {
		// background-color: $primary;

		background-image: linear-gradient(90deg,
				$primary 0%,
				$primary 50%,
				$white 50%,
				$white 50%);

		background-size: 200%;
		transition: background-position .3s ease-in-out color 0.175s;

		border: 5px solid $white;
		color: $white;
		font-size: 1.5rem;
	}

	.btn-join:hover {
		background-position: -100% 100%;
		// background-color: $white;
		color: $primary;
	}

	@include media-breakpoint-up(md) {
		margin: 5em 0;

		.header-image {
			margin-bottom: 0;
		}

		.social-links {
			justify-content: flex-start;
			margin-top: auto;

			.btn {
				width: 150px;
			}
		}

		.btn-join {
			max-width: 250px;
		}
	}
}

/* =======
   DISCORD
   ======= */

#discord-hero {
	margin: 3em 0;

	.btn-dc {
		width: 100%;
		padding: 0.8em 0;
	}

	.btn-dc-parent {
		display: flex;
		justify-content: center;
	}

	@include media-breakpoint-up(md) {
		// Change background from Discord blurple to a horizontal gradient.,
		// background: rgb(29, 29, 29);
		// background: linear-gradient(0deg, #1d1d1d 0%, #2d2d2d 50%, #1d1d1d 100%);

		.btn-dc {
			margin-top: 1em;
			width: 50%;
		}

		.btn-dc:hover {
			background-color: $blurple;
			color: $white;
		}
	}
}

/* ========
   CALENDAR
   ======== */

#calendar {
	margin: 3em 0;
	padding: 3em 0;
}