// Bootstrap imports
@import "bootstrap/grid.scss";

// Font imports
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700|Roboto:300,500&display=swap');

// Custom imports
@import "variables";

/* ========================
   BASIC SETUP & TYPOGRAPHY
   ======================== */
html {
	font-size: 20px;
}

body {
	background-color: $primary;
	color: $white;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-weight: 300;
	margin: 0;
}

h1,
h2,
h3 {
	font-weight: 500;
}

h1,
h2,
h3,
p {
	margin-top: 0;
}

p {
	line-height: 1.3em;
}

a {
	color: $white;
	font-weight: 500;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.code {
	font-family: "Inconsolata", monospace;
}

// TODO: Theme scrollbar!

/* ======
   HEADER
   ====== */

header {
	padding: 4em 0;

	background-image: url("../img/header_bg2_grey.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.header-about {
		padding: 3em;
		backdrop-filter: blur(50px);
		display: flex;
		flex-direction: column;
	}

	.header-image {
		width: 100%;
		margin-bottom: 2em;
	}

	.btn-join {
		font-size: 1.5rem;
		max-width: 250px;
	}

	.social-links {
		display: flex;
		justify-content: space-evenly;
		margin-top: 1em;

		.btn {
			color: $white;
			font-size: 1.2rem;
			width: 50%;
		}

		.btn:hover {
			color: $primary;
			background-color: $white;
		}

		.btn-fb {
			background-color: #3b5998;
		}

		.btn-tw {
			background-color: #1da1f2;
		}
	}

	@include media-breakpoint-up(md) {
		padding: 5em 0;

		.header-image {
			margin-bottom: 0;
		}

		.social-links {
			justify-content: flex-start;
			margin-top: auto;

			.btn {
				width: 150px;
			}
		}
	}
}

/* =======
   DISCORD
   ======= */

#discord-hero {
	padding: 5em 0;

	.btn-dc {
		width: 100%;
		padding: 0.8em 0;
	}

	.btn-dc-parent {
		display: flex;
		justify-content: center;
	}

	@include media-breakpoint-up(md) {
		// Change background from Discord blurple to a horizontal gradient.,
		// background: rgb(29, 29, 29);
		// background: linear-gradient(0deg, #1d1d1d 0%, #2d2d2d 50%, #1d1d1d 100%);

		.btn-dc {
			margin-top: 1em;
			width: 50%;
		}

		.btn-dc:hover {
			background-color: $blurple;
			color: $white;
		}
	}
}

/* ========
   CALENDAR
   ======== */

#calendar {
	margin: 3em 0;
	padding: 3em 0;
}