@import "../../styles/bootstrap/grid.scss";


@import "../../styles/variables";
@import "../../styles/typography";

/* 
    Styling for stick footer.
    Will remain at bottom of screen even if content above
    is not long enough to fill the viewport.

    Resource:
    https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
*/
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}