@import "../../styles/defaults";

// Bootstrap imports
@import "../../styles/bootstrap/grid.scss";

// Font imports
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap");


.navbar {
	color: $white;
	background-color: $secondary;
	margin: 0;
	padding: 1.2em 0;

	.container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-brand {
		font-size: 1.2rem;
		text-decoration: none;
		display: flex;
		align-items: center;
	}

	.nav-image {
		width: 50px;
		height: 50px;
		margin-right: 0.5em;
	}

	.navbar-nav {
		display: none;

		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.active {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		margin-top: 1em;
	}

	.nav-item {
		margin-bottom: 1em;
		font-weight: 300;
		font-size: 1.5rem;
	}

	.nav-item:nth-last-child(3) {
		margin-bottom: 0;
	}

	.nav-link {
		text-decoration: none;

		transition: all 0.1s ease-in-out;
	}

	.nav-link:hover {
		color: $accent;
	}

	.nav-tw:hover {
		color: #1da1f2;
	}

	.nav-fb:hover {
		color: #3b5998;
	}

	.nav-social {
		display: none;
		margin: 0;
		padding: 0;
	}

	.navbar-toggle {
		position: absolute;
		top: 35px;
		right: 30px;
		cursor: pointer;
		font-size: 24px;
	}

	// Styling above breakpoint-sm
	@include media-breakpoint-up(md) {
		.container {
			flex-direction: row;
			align-items: center;
		}

		.navbar-brand {
			margin-bottom: 0;
		}

		.navbar-nav {
			display: flex;
			flex-direction: column;

			flex-direction: row;
			justify-content: flex-end;
			margin-left: auto;
		}

		.nav-item {
			font-size: 1rem;
			margin-bottom: 0;
			margin-right: 2em;
		}

		.nav-item:last-child {
			margin-right: 0;
		}

		.nav-social {
			display: inline;
		}

		.navbar-toggle {
			display: none;
		}

		.active {
			margin-top: 0;
		}
	}
}