@import "../../styles/bootstrap/grid.scss";

@import "../../styles/variables";

footer {
    background-color: $secondary;
    padding: 2em 0;
}

.footer-links {
    list-style: none;
    // margin: 0;
    padding: 0;

    li {
        margin-bottom: 0.25em;
    }

    li:last-child {
        margin-bottom: 0;
    }

    li:before {
        content: "> ";
    }
}

.footer-social {
    margin-right: 1em;
}

.footer-social:last-child {
    margin-right: 0;
}

@include media-breakpoint-up(md) {
    footer {
        font-size: 0.8rem;
    }

    .footer-links {
        margin: 0;
    }
}