extends layout
append header
append body
block content

    // Page Content
    .container
      // Page Heading/Breadcrumbs
      h1.mt-4.mb-3
        | About
        
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active About
      // Intro Content
      .row
        .col-lg-6
          img.img-fluid.rounded.mb-4(src="/images/logo.png" alt="")
        .col-lg-6
          h2 About CyberSoc
          p
            | We are the University of York's Cyber Security Society.
          p
            | The society was started in December 2017  by a group of computer science undergraduates with a passion for cyber security.
          p
            | Have you ever been curious about the secret lives of hackers? Do you want to learn about how to secure or exploit computers for fun and profit? CyberSoc is the place for you! We’re a dedicated bunch of enthusiasts and learners, with a range of fun activities for beginners and veterans of cyber security alike. Come along to one of our workshops to learn how to properly secure your personal devices, disappear from the internet, or even compete in hacking competitions!
      // /.row
      // Team Members
      h2 Current Committee
      .row
        .col-lg-4.mb-4
          .card-body
            h4.card-title President
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Asher Caswell
        .col-lg-4.mb-4
          .card-body
            h4.card-title Secretary
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Alex Newton
        .col-lg-4.mb-4
          .card-body
            h4.card-title Treasurer
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Osedebame Oaiya
            .col-lg-4.mb-4
        .col-lg-4.mb-4
          .card-body
            h4.card-title Outreach Officer 
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | unfilled
        .col-lg-4.mb-4
          .card-body
            h4.card-title Event Officer
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Peter Walkington
        .col-lg-4.mb-4
          .card-body
            h4.card-title Press and Publicity
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | George Tattersal & Milan Makwana
        .col-lg-4.mb-4
          .card-body
            h4.card-title Postgraduate Officer
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Paul Williams
        .col-lg-4.mb-4
          .card-body
            h4.card-title Sysadmin
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Llywelyn Clay-Mitchel
        .col-lg-4.mb-4
          .card-body
            h4.card-title Officers Without Portfolio
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Daniel Vaughan & Willow Capel
        
        
      // /.row
      // Our Customers
      h2 Sponsors 
      .row
        .col-lg-2.col-sm-4.mb-4
          a(href='')
          img.img-fluid(src="/images/YUSULogo.png" alt="")
        
        //.col-lg-2.col-sm-4.mb-4
          //div
            //a(href='https://www.accenture.com/gb-en/new-applied-now')
              //img.img-fluid(src="/images/accenture.jpg" alt="")
    
     
      // /.row
    // /.containerjpg

