extends layout

block content

    // Page Content
    .container
      // Page Heading/Breadcrumbs
      h1.mt-4.mb-3
        | About
        
      ol.breadcrumb
        li.breadcrumb-item
          a(href="index.html") Home
        li.breadcrumb-item.active About
      // Intro Content
      .row
        .col-lg-6
          img.img-fluid.rounded.mb-4(src="/images/logo.png" alt="")
        .col-lg-6
          h2 About CyberSoc
          p
            | We are the University of York's Cyber Security Society.
          p
            | The society was started in December 2017  by a group of computer science undergraduates with a passion for cyber secruity.
          p
            | The aim of the society is to educate people with no experience of cyber secruity along with bringing together secruity veterans to take part in challenges and discussions involving cyber secruity.
            br
            | We hold weekly events including workshops, socials and competitons. Workshops consists of teaching new cyber secruity skills........
      // /.row
      // Team Members
      h2 Current Committee
      .row
        .col-lg-4.mb-4
          .card-body
            h4.card-title President
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Asher Caswell
        .col-lg-4.mb-4
          .card-body
            h4.card-title Secretary
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Alex Newton
        .col-lg-4.mb-4
          .card-body
            h4.card-title Treasurer
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Osedebame Oaiya
            .col-lg-4.mb-4
        .col-lg-4.mb-4
          .card-body
            h4.card-title Outreach Officer 
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | unfilled
        .col-lg-4.mb-4
          .card-body
            h4.card-title Event Officer
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Peter Walkington
        .col-lg-4.mb-4
          .card-body
            h4.card-title Press and Publicity
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | George Tattersal & Milan Makwana
        .col-lg-4.mb-4
          .card-body
            h4.card-title Postgraduate Officer
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Paul Williams
        .col-lg-4.mb-4
          .card-body
            h4.card-title Sysadmin
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Llywelyn Clay-Mitchel
        .col-lg-4.mb-4
          .card-body
            h4.card-title Officers Without Portfolio
            h6.card-subtitle.mb-2.text-muted 
            p.card-text
              | Daniel Vaughan & Willow Capel
        
        
      
        
        
      // /.row
      // Our Customers
      h2 Sponsors 
      .row
        .col-lg-2.col-sm-4.mb-4
          img.img-fluid(src="http://media-assets-02.thedrum.com/cache/images/thedrum-prod/s3-news-tmp-56002-accenture1--2x1--940.jpg" alt="")
        .col-lg-2.col-sm-4.mb-4
          img.img-fluid(src="https://ystv.co.uk/static/images/shows/YUSU%20Logo%20Small.png" alt="")
     
      // /.row
    // /.container

