extends layout
append header
append body
block content
    
    //h1= message
    //h2= error.status
    //pre #{error.stack}

    // Page Content
    .container

      // Page Heading/Breadcrumbs
      h1.mt-4.mb-3
        |  404
        small   Page Not Found

      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active 404
      .row
        h4= message
      .row
        p= error
      .row
        div
          a(href="/") 
            img(src='/images/404Image.jpg')
      
    // /.container
  
