extends layout
append header
append body
block content
  
    // Page Content
    .container
      // Page Heading/Breadcrumbs
      h1.mt-4.mb-3
        | Super-Secret Filestore
        
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active Filestore

      .row
        p
         | Welcome to the super-secret cybersoc filestore.
         | To access it, you need to use the binary #[a(href="/secrets/Sup3r-secr3t_CyBers0c_f1le5tor3/downloader") here]:  
      .row
        div
          a(href="/") 
            img(src='/files/images/reverse_engineering.jpg')
