extends layout

append header
  mixin seo
        meta(name='description', content='University Of York Cyber Security Society | We are the student led cyber security society for the university of York | We host a range of cyber security related activities to get involved in')
        meta(name='keywords' content='university of york, university of york computer science, yusu, university of york student union,  uoy, university of york cyber security, cyber security, cybersoc, cybersoc york')
        meta(name='author' content='UoY CyberSoc')
        meta(property='og:title' content='CyberSoc York')
        meta(property='og:url' content='https://cybersoc.co.uk')
        meta(property='og:image' content='https://cybersoc.co.uk/files/images/logo.png')
        meta(property='og:site_name' content='CyberSoc York')
        meta(property='og:description' content="University Of York Cyber Security Society")

        script(type='application/ld+json'). 
            {
                "@context": "http://www.schema.org",
                "@type": "Organization",
                "name": "CyberSoc York",
                "url": "https:cybersoc.co.uk",
                "sameAs": [
                "https://www.cybersoc.co.uk",
                "https://en-gb.facebook.com/cybersocyork/",
                "https://twitter.com/CyberSocYork"
                ],
                "logo": "https://cybersoc.co.uk/files/images/logo.png",
                "description": "University Of York cyber security society ",
                "address": {
                "@type": "PostalAddress",
                "addressLocality": "York",
                "addressCountry": "United Kingdom"
                }
            }
  +seo
append body
block content
    
    header
    .container
      .row
        .col-lg-12
          div.particlesBackground
              br
              br
              br
              br
              br
              img(src="/files/images/logo.png" height="40%" width="40%" alt="The cyberSoc logo" )
          #particles-js.particles
          

    // Page Content
    .container
      br
      br
      .row
        .div.logoOnParticles
          #terminal

      .row
        div(style= 'margin-left: auto; margin-right: auto; width:40%')
          h3 [Sponsored by]
          br
          a(href='https://www.accenture.com/gb-en/new-applied-now')
            img.img-fluid.lazy(src="/files/images/accenture.jpg" alt="")
    
      br
      br
      br
      
      h1.my-4.text-color Upcoming events
      // Marketing Icons Section
      .row
      if currentEvents.length === 0
        p No upcoming events
      
      else
        mixin upcoming-event-card(event)
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a
                img.card-img-top.lazy(data-src=event.event_CoverImage alt="An event cover photo" onerror="this.src='/files/images/placeholder-image.png'")
              .card-body
                h4.card-title.text-header
                  a.text-header= event.event_Title
                p.card-text.text
                  =event.event_Description
                p.card-text.text Time: 
                  =new Date(event.event_StartTime).toLocaleString('en-GB',{timeZone:'Europe/London', hour12:false})   
                p.card-text.text Room: 
                  =event.event_Room
    
        .row
          for upcomingEvent in currentEvents
            +upcoming-event-card(upcomingEvent)
        
      
      // /.row
      // Portfolio Section
      h2 Previous events
      mixin previous-event-card(event)
        
        .col-lg-4.col-sm-6.portfolio-item
          .card.h-100
            a
              img.card-img-top.lazy(data-src=event.event_CoverImage alt="An event cover photo" onerror="this.src='/files/images/placeholder-image.png'")
            .card-body
              h4.card-title.text-header
                a.text-header= event.event_Title
              p.card-text.text
                =event.event_Description
            
      .row
        for previousEvent in previousEvents
          +previous-event-card(previousEvent)
     
      // /.row
      hr
      // Join Section
      .row.mb-4
        .col-md-8
          p
            |
        .col-md-4
          a.btn.btn-lg.btn-secondary.btn-block(href="https://www.yusu.org/groups/cybersoc") Sign-up
    // /.container

    // / load scripts for the page
    script.
     (function(w, d){
        var b = d.getElementsByTagName('body')[0];
        var s = d.createElement("script"); 
        var v = !("IntersectionObserver" in w) ? "8.15.0" : "10.15.0";
        s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
        s.src = "https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/" + v + "/lazyload.min.js";
        w.lazyLoadOptions = {elements_selector: ".lazy"};
        b.appendChild(s);
        }(window, document));

    script(src='/files/javascripts/particles.js')
    script(src='/files/javascripts/loadParticles.js' defer="defer")
    script(src='/files/javascripts/typed.js')
    script(src='/files/javascripts/terminal.js')