extends layout


block content

    header
    .container
      .row
        .col-lg-12
          div.particlesBackground
              br
              br
              br
              br
              br
              img(src="images/logo.png" height="40%" width="40%" alt="The cyberSoc logo" )
          #particles-js.particles
          

    // Page Content
    .container
      br
      br
      .row
        .div.logoOnParticles
          #terminal
    
      .row
          div(style= 'margin-left: auto; margin-right: auto; width:40%')
            h3 [Sponsored by]
            br
            a(href='https://www.accenture.com/gb-en/new-applied-now')
              img.img-fluid(src="/images/accenture.jpg" alt="")
   
      br

      h1.my-4.text-color Upcoming events
      // Marketing Icons Section
      .row
      if currentEvents.length === 0
        p No upcoming events
      mixin upcoming-event-card(event)
        .col-lg-4.mb-4
          .card.h-100
            h4.card-header.text-header Card Title
            .card-body
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
            .card-footer
              a.btn.btn-primary Learn More
        .col-lg-4.mb-4
          .card.h-100
            h4.card-header Card Title
            .card-body
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.
            .card-footer
              a.btn.btn-primary Learn More
        .col-lg-4.mb-4
          .card.h-100
            h4.card-header Card Title
            .card-body
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
            .card-footer
              a.btn.btn-primary Learn More
      
      
      // /.row
      // Portfolio Section
      h2 Previous events
      mixin previous-event-card(event)
        
        .col-lg-4.col-sm-6.portfolio-item
          .card.h-100
            a
              img.card-img-top(src=event.event_CoverImage alt="An event cover photo")
            .card-body
              h4.card-title.text-header
                a.text-header= event.event_Title
              p.card-text.text
                =event.event_Description
            
      .row
        for previousEvent in previousEvents
          +previous-event-card(previousEvent)
     
      // /.row
      hr
      // Join Section
      .row.mb-4
        .col-md-8
          p
            |
        .col-md-4
          a.btn.btn-lg.btn-secondary.btn-block(href="https://www.yusu.org/groups/cybersoc") Sign-up
    // /.container

    // / load scripts for the page
    script(src='/javascripts/particles.js')
    script(src='/javascripts/loadParticles.js' defer="defer")
    script(src='/javascripts/typed.js')
    script(src='/javascripts/terminal.js')