extends layout


block content

    header
    .container
      .row
        .col-lg-12
          div(style="position: absolute; z-index: 5; right: 0; left: 40%; margin: 0 auto;")
              br
              br
              br
              br
              br
              img(src="images/logo.png" height="20%" width="20%" )
          #particles-js(style=" height: 400px;")
          

    // Page Content
    .container
      
      h1.my-4.text-color Upcoming events
      // Marketing Icons Section
      .row
        .col-lg-4.mb-4
          .card.h-100
            h4.card-header Card Title
            .card-body
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
            .card-footer
              a.btn.btn-primary(href="#") Learn More
        .col-lg-4.mb-4
          .card.h-100
            h4.card-header Card Title
            .card-body
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.
            .card-footer
              a.btn.btn-primary(href="#") Learn More
        .col-lg-4.mb-4
          .card.h-100
            h4.card-header Card Title
            .card-body
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
            .card-footer
              a.btn.btn-primary(href="#") Learn More
      // /.row
      // Portfolio Section
      h2 Previous events
      mixin event-card(event)
        
        .col-lg-4.col-sm-6.portfolio-item
          .card.h-100
            a(href="#")
              img.card-img-top(src=event.event_CoverImage alt="")
            .card-body
              h4.card-title
                a(href="#")= event.event_Title
              p.card-text.text
                =event.event_Description
            
      .row
        for event in events
          +event-card(event)
     
      // /.row
      hr
      // Join Section
      .row.mb-4
        .col-md-8
          p
            |
        .col-md-4
          a.btn.btn-lg.btn-secondary.btn-block(href="#") Sign-up
    // /.container

