extends layout


block content

    header
    .container
      .row
        .col-lg-12
          div(style="position: absolute; z-index: 5; right: 0; left: 40%; margin: 0 auto;")
              br
              br
              br
              br
              br
              img(src="images/logo.png" height="20%" width="20%" )
          #particles-js(style=" height: 400px;")
          

    // Page Content
    .container
      
      h1.my-4.text-color Upcoming events
      // Marketing Icons Section
      .row
        .col-lg-4.mb-4
          .card.h-100
            h4.card-header Card Title
            .card-body
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
            .card-footer
              a.btn.btn-primary(href="#") Learn More
        .col-lg-4.mb-4
          .card.h-100
            h4.card-header Card Title
            .card-body
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.
            .card-footer
              a.btn.btn-primary(href="#") Learn More
        .col-lg-4.mb-4
          .card.h-100
            h4.card-header Card Title
            .card-body
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
            .card-footer
              a.btn.btn-primary(href="#") Learn More
      // /.row
      // Portfolio Section
      h2 Previous events
      .row
        .col-lg-4.col-sm-6.portfolio-item
          .card.h-100
            a(href="#")
              img.card-img-top(src="http://placehold.it/700x400" alt="")
            .card-body
              h4.card-title
                a(href="#") Project One
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
        .col-lg-4.col-sm-6.portfolio-item
          .card.h-100
            a(href="#")
              img.card-img-top(src="http://placehold.it/700x400" alt="")
            .card-body
              h4.card-title
                a(href="#") Project Two
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        .col-lg-4.col-sm-6.portfolio-item
          .card.h-100
            a(href="#")
              img.card-img-top(src="http://placehold.it/700x400" alt="")
            .card-body
              h4.card-title
                a(href="#") Project Three
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!
        .col-lg-4.col-sm-6.portfolio-item
          .card.h-100
            a(href="#")
              img.card-img-top(src="http://placehold.it/700x400" alt="")
            .card-body
              h4.card-title
                a(href="#") Project Four
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        .col-lg-4.col-sm-6.portfolio-item
          .card.h-100
            a(href="#")
              img.card-img-top(src="http://placehold.it/700x400" alt="")
            .card-body
              h4.card-title
                a(href="#") Project Five
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        .col-lg-4.col-sm-6.portfolio-item
          .card.h-100
            a(href="#")
              img.card-img-top(src="http://placehold.it/700x400" alt="")
            .card-body
              h4.card-title
                a(href="#") Project Six
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.
      // /.row
     
      // /.row
      hr
      // Join Section
      .row.mb-4
        .col-md-8
          p
            |
        .col-md-4
          a.btn.btn-lg.btn-secondary.btn-block(href="#") Sign-up
    // /.container

