extends layout

block content
 
    // Page Content
    .container
      // Page Heading/Breadcrumbs
      h1.mt-4.mb-3
        | Click here to join
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active Join
    
    // /.container
      // /.container

