doctype html
html
  head
    link(rel="icon" href="/images/logo.ico")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=yes')
    meta(name='description', content='University Of York Cyber Secruity Society')
    title CyberSoc

    // Custom styles for this template

    link(href='stylesheets/modern-business.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/cyberSoc.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    //Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-121486268-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-121486268-1', { 'anonymize_ip': true });


    body.special-body

    .html

      <!-- Navigation -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img class="logo" src="images/logo.png">
          </a>
        
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">>_Home</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="CTF">>_CTF</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="https://www.yusu.org/groups/cybersoc">>_ Join</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">>_About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">>_Contact</a>
              </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <br>
    

      block content


    // Footer
    footer.py-5.bg-dark
      .container
        img(src='/images/icons/twitter.png' href='#').footer-social__icon
        img(src='/images/icons/facebook.png' href='https://en-gb.facebook.com/cybersocyork/').footer-social__icon
        p.m-0.text-center.text-white  
      // /.container


