extends layout
append header
append body
block content
  
    // Page Content
    .container
      // Page Heading/Breadcrumbs
      h1.mt-4.mb-3
        | You found a hidden page!
              
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active Filestore
        
      .row
        p
          | Qvq lbh whfg fpna n DE pbqr naq qrpbqr vg jvgu ebg13? Znlor lbh fubhyq wbva PLOREFBP!
        p
          | Arkg, lbh fubhyq ybbx vagb gur frphevgl bs ebg26 rapelcgvba!
        
      .row
        h3
          | #[a(href="/") Cybersoc main site]
