extends layout
append header
append body
block content

    // Page Content
    .container
      // Page Heading/Breadcrumbs
      h1.mt-4.mb-3
        | Secrets
        
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active Secrets
      // Intro Content
      .row
        .col-lg-6
          img.img-fluid.rounded.mb-4(src="/files/images/secrets_logo.png" alt="")
        .col-lg-6
          h2 Secrets
          p
            | We've scattered a variety of secrets across this website for you to hunt for! Most of these easter eggs will require some element of puzzle solving to get to the end of the mini-challenge.
          p
            | The most fiendish of these secrets will end with a special token, in the form SECRET{s0m3_t3xt!}. If you're the first to find one of these and you send us the flag at cyber [at] yusu [dot] org, you'll get a budget pack of sweets or chocolate from Nisa at the next session.
          <!-- NOTE TO SELF: The super-secret AES key is 65f161816042a8caaec5ec91c26842978122bf5e7520a32b0ece8d596929540e. Do not put this on the live site! That would be very very bad. -->
          <!-- REMINDER #2: Remember that due to limitations of the storage medium, the link to the data CANNOT be longer than 280 characters. -->
          p
            | P.S. Please don't actually attack the website or anything silly like that. It'll be obvious if something is supposed to be an easter egg.
    // /.containerjpg
