::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: $dark;
}

::-webkit-scrollbar-thumb {
    background-color: #1d1d1d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #000;
}