// Bootstrap imports
@import "bootstrap/grid.scss";

// Font imports
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap");

// Custom imports
@import "variables";

/* ===========
   BASIC SETUP
   =========== */
html {
	font-size: 18px;
}

body {
	background-color: $primary-grey;
	color: $white;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-weight: 300;
	margin: 0;
}

h1,
h2,
h3 {
	font-weight: 500;
}

h1,
h2,
h3,
p {
	margin-top: 0;
}

// p {
// 	text-align: left;
// 	text-align-last: left;
// }

/* =======
   NAVBAR
   ======= */
// Example breakpoint mixin
// @include media-breakpoint-up(sm) {
// 	body {
// 		background-color: red;
// 	}
// }

.navbar {
	background-color: $secondary-grey;
	margin: 0;
	padding: 1.2em 0;

	.container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-brand {
		color: $white;
		font-size: 1.2rem;
		font-weight: 500;
		text-decoration: none;
		margin-bottom: 1.2em;
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.nav-item {
		margin-bottom: 1em;
	}

	.nav-item:last-child {
		margin-bottom: 0;
	}

	.nav-link {
		color: $white;
		text-decoration: none;
	}

	.btn {
		color: $primary-grey;
	}

	.btn:hover {
		color: $white;
		background: $primary-grey;
	}

	// Styling above breakpoint-sm
	@include media-breakpoint-up(md) {
		.container {
			flex-direction: row;
			align-items: center;
		}

		.navbar-brand {
			margin-bottom: 0;
		}

		.navbar-nav {
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			margin-left: auto;
		}

		.nav-item {
			margin-bottom: 0;
			margin-right: 2em;
		}

		.nav-item:last-child {
			margin-right: 0;
		}
	}
}

/* ======
   HEADER
   ====== */

header {
	margin: 3em 0;

	.header-about {
		display: flex;
		flex-direction: column;
	}

	.header-image {
		width: 100%;
		margin-bottom: 2em;
	}

	.social-links {
		display: flex;
		justify-content: space-evenly;
		margin-top: 1em;

		.btn {
			color: $white;
			font-size: 1.2rem;
			width: 50%;
		}

		.btn-fb {
			background-color: #3b5998;
		}

		.btn-tw {
			background-color: #1da1f2;
		}
	}

	@include media-breakpoint-up(md) {
		margin: 5em 0;

		.header-image {
			margin-bottom: 0;
		}

		.social-links {
			justify-content: flex-start;
			margin-top: auto;

			.btn {
				width: 150px;
			}
		}
	}
}

/* =======
   DISCORD
   ======= */

#discord-hero {
	background-color: #7289da;
	margin: 3em 0;
	padding: 3em 0;

	.btn-dc {
		width: 100%;
		padding: 0.8em 0;
	}

	.btn-dc-parent {
		display: flex;
		justify-content: center;
	}

	@include media-breakpoint-up(md) {
		// Change background from Discord blurple to a horizontal gradient.,
		background: rgb(29, 29, 29);
		background: linear-gradient(0deg, #1d1d1d 0%, #2d2d2d 50%, #1d1d1d 100%);

		.btn-dc-parent {
			margin-top: 1em;
		}

		.btn-dc {
			width: 50%;
		}
	}
}

/* ========
   CALENDAR
   ======== */

#calendar {
	margin: 3em 0;
	padding: 3em 0;
}

/* =======
   GENERAL
   ======= */

.btn {
	background-color: $white;
	border-radius: 0.25em;
	color: $primary-grey;
	display: inline-block;
	font-weight: 500;
	margin: 0 0.3em 0.3em 0;
	padding: 0.5em 1.2em;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s;

	box-shadow: $material-shadow;
}

.btn:hover {
	color: $primary-grey;
	background-color: #ffffff;
}

.card-deck {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(300px, 1fr)
	); // Fill with cards min-width 300px and max-wdith 1 fraction.
	grid-auto-rows: auto;
	gap: 1rem;
	column-gap: 1rem;
}

.card {
	background-color: $secondary-grey;
	border-radius: 7px;
	box-shadow: $material-shadow;
	padding: 1em;
}

.card-title {
	margin-bottom: 0.5em;
}

.card-detail {
	font-size: 0.8rem;
	font-weight: 300;
	text-transform: uppercase;
}

.card-desc {
	margin-bottom: 0;
}
